<form action="/add" method="post">
    <p>Title: </p>
    <input type="text" name="titulo" id="tit">
    <p>Content: </p>
    <textarea name="conteudo" id="cont" cols="30" rows="10"></textarea>
    <button type="submit">Postar</button>
</form>
